@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@300;400;500&display=swap');

:root{/* variáveis */

    --lavanda: #cdb4db;
    --select: #cdb4dba9;
    --verdao: #19535F;
    --verde: #0B7A75;
    --dia: #669bbc;
    --noite: #160F29;
    --meia-noite: #003049;
    --nublado: #fbfbfd;
    --sombra: rgba(0, 0, 0, .212);
    --fontea: 'Montserrat';/* fonte de parágrafo */
    --fonteA: 'Open Sans';/* fonte de título */

}

*{

    margin: 0%; /* elimina as margens automáticas */
    padding: 0%; /* elimina padding automático */
    margin-bottom: 0.4rem; /*espaçamento entre paragrafos*/

}

html{

    margin: 0;
    padding: 0;

}

body{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--nublado);

}

div, section{

    margin: 0%;
    padding: 0%;

}

::selection{ /* ao selecionar o texto dentro do site, a seleção fica com a cor personalizada */

    background-color: var(--select);
    color: var(--noite);

}

h4, p{

    font-family: var(--fontea);

}

h1, h2, h3{

    font-family: var(--fonteA);

}

header {

    position: fixed; /* pra header se mover com o scroll */
    width: 100%;
    height: 50px;
    background-color: #fbfbfd5b;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 var(--sombra);
    backdrop-filter: blur(8px);/* Blur do header */
    top: 0px;

}


img#logo {

    width: 20px;
    position: relative;
    margin: 0;
    left: 4vw;
    top: 25px;

}

img#bs {

    width: 23px;
    position: relative;
    left: 85vw;

}

img#hb {

    width: 20px;
    position: relative;
    left: 85vw;

}

#sec1{

    background-color: var(--nublado);
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    
}


div#SauronGlassDesc{

    text-align: center;
    margin: 20vw;

}

.div-oculos{

    max-width: 30vw;
    left: 35vw;
    box-shadow: 0px -10px 40px 10px var(--sombra);
    position: relative;
    top: 0px;

}

img#oculos{

    max-width: 30vw;
    padding-left: 35vw;
    
}

#sec2, #sec3, #sec4{

    background-color: var(--nublado);
    height: auto;
    width: 100%;
    margin-bottom: 10vh;

}

.container-sec3{
    
    background-color: var(--dia);
    width: 70vw;
    margin: auto;
    padding: 2em;
    border-radius: 15px;
    text-align: justify;

}
.sobre, .video, .contato{

    width: 78vw;
    margin: auto;
    padding: 2em;
    text-align: justify;

}

.video, .contato{

    text-align: center;
    font-size: x-small;

}

.video{

    height: 30vh;
    max-width: 78%;

}

footer{

    background-color: var(--noite);
    height: auto;
    color: var(--nublado);
    text-align: center;
    margin: 0;
    width: 100%;

}

nav > button{

    background-color: rgba(255, 255, 255, 0);
    border: none;

}

@media(min-width: 834px){

    img#logo {

        position: relative;
        left: 22vw;
    
    }
    
    img#bs, img#hb {
    
        left: 74vw;
    
    }

    div#SauronGlassDesc{

        text-align: center;
        margin: 10vw;
    
    }

    .container-sec3{
        
        width: 50vw;
    
    }

    .sobre, .video{

        width: 53vw;

    }

}