@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@300;400;500&display=swap');

:root{/* variáveis */

    --lavanda: #cdb4db;
    --verdao: #19535F;
    --verde: #0B7A75;
    --dia: #669bbc;
    --noite: #160F29;
    --meia-noite: #003049;
    --nublado: #fbfbfd;
    --sombra: rgba(0, 0, 0, .212);
    --fontea: 'Montserrat';/* fonte de parágrafo */
    --fonteA: 'Open Sans';/* fonte de título */

}

*{

    margin: 0%; /* elimina as margens automáticas */
    padding: 0%; /* elimina padding automático */
    margin-bottom: 0.4rem; /*espaçamento entre paragrafos*/

}

body{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x:hidden ;

}

div, section{

    margin: 0%;
    padding: 0%;

}

::selection{ /* ao selecionar o texto dentro do site, a seleção fica com a cor personalizada */

    background-color: var(--dia);
    color: #19535F;

}

h4, p{

    font-family: var(--fontea);

}

h1, h2, h3{

    font-family: var(--fonteA);

}

header {

    position: fixed; /* pra header se mover com o scroll */
    width: 100%;
    height: 50px;
    background-color: #fbfbfd5b;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 var(--sombra);
    backdrop-filter: blur(8px);/* Blur do header */
    top: 0px;

}


img#logo {

    width: 20px;
    position: relative;
    margin: 0;
    left: 7vw;
    top: 25px;

}

img#bs {

    width: 23px;
    position: relative;
    left: 89vw;

}

img#hb {

    width: 20px;
    position: relative;
    left: 89vw;

}

#sec1{

    background-color: var(--nublado);
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    
}


div#SauronGlassDesc{

    text-align: center;
    margin: 20vw;

}

.div-oculos{

    max-width: 30vw;
    left: 35vw;
    box-shadow: 0px -10px 40px 10px var(--sombra);
    position: relative;
    top: 0px;

}

img#oculos{

    max-width: 30vw;
    padding-left: 35vw;
    
}

#sec2{

    background-color: var(--nublado);
    height: auto;
    text-align: start;
    width: 100%;
}

.container-sec2{
    
    background-color: var(--dia);
    width: 70vw;
    margin: 10vw;
    padding: 2em;
    border-radius: 15px;
    text-align: justify;

}

#sec3{
    background-color: var(--nublado);
    height: auto;
    text-align: justify;
    padding: 2em;
}

footer{

    background-color: var(--noite);
    width: 100%;
    height: auto;
    color: var(--nublado);
    text-align: center;
    padding: 2em;

}

footer > p{

    margin-left: 30px;
    margin-right: 30px;

}

nav > button{

    background-color: rgba(255, 255, 255, 0);
    border: none;

}

@media(min-width: 834px){



}