@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

:root{/* variáveis */

    --lavanda: #cdb4db;
    --verdao: #19535F;
    --verde: #0B7A75;
    --dia: #A8DADC;
    --noite: #160F29;
    --sombra: rgba(0, 0, 0, .212);
    --fontea: 'Alegreya'; /* fonte de parágrafo */
    --fonteA: 'Merriweather'; /* fonte de título */

}

*{

    margin: 0%; /* elimina as margens automáticas */
    padding: 0%; /* elimina padding automático */
    margin-bottom: 0.4rem; /*espaçamento entre paragrafos*/

}

body{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

div, section{

    margin: 0%;
    padding: 0%;

}

::selection{ /* ao selecionar o texto dentro do site, a seleção fica com a cor personalizada */

    background-color: var(--dia);
    color: #19535F;

}

p{

    font-family: var(--fontea);

}

h1, h2, h3{

    font-family: var(--fonteA);

}

header {

    position: fixed; /* pra header se mover com o scroll */
    width: 100%;
    background-color: #160f2983;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 var(--sombra);
    margin: 0;
    backdrop-filter: blur(8px);/* Blur do header  */
    -webkit-backdrop-filter: blur(8px);/* Blur do header  */
    -moz-backdrop-filter: blur(8px);/* Blur do header  */
    top: 0;

}

img#logo {

    width: 80px;
    height: 80px;
    position: relative;
    margin: 0%;
    left: 30px;
    top: 25px;

}

img#bs {

    width: 25px;
    height: 25px;
    position: relative;
    margin: 0%;
    left: 1845px;
    bottom: -2px;

}

img#hb {

    width: 20px;
    height: 20px;
    position: relative;
    margin: 0%;
    left: 1850px;

}

#sec1{
    background-color: #0B7A75;
    width: 100%;
    height: 500px;
}

#sec2{
    background-color: #160F29 ;
    width: 100%;
    height: 500px;
}

#sec3{
    background-color: #cdb4db;
    width: 100%;
    height: 500px;
}


nav > button{

    background-color: rgba(255, 255, 255, 0);
    border: none;

}

@media(min-width: 834px){

    header > a {

        color: white;
        padding: 5px;
        text-decoration: none;
    
    }
    
    header > a:hover{
    
        
    
    }

}